# Exploratory data analyst - Sales

### Importando bibliotecas

In [3]:
import pandas as pd
import numpy as np

In [5]:
# Importando dataset

df = pd.read_csv("https://raw.githubusercontent.com/raulsiqueira96/Projeto_Portfolio_de_dados/main/sales.csv", low_memory=False)

In [9]:
pd.set_option('display.max_columns', None)
df.head()

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,category,payment_method,bi_st,cust_id,year,month,ref_num,Name Prefix,First Name,Middle Initial,Last Name,Gender,age,full_name,E Mail,Customer Since,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
0,100354678,2020-10-01,received,574772.0,oasis_Oasis-064-36,21.0,89.9,1798.0,0.0,1798.0,Men's Fashion,cod,Valid,60124.0,2020,Oct-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
1,100354678,2020-10-01,received,574774.0,Fantastic_FT-48,11.0,19.0,190.0,0.0,190.0,Men's Fashion,cod,Valid,60124.0,2020,Oct-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
2,100354680,2020-10-01,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.0,1199.2,Men's Fashion,cod,Net,60124.0,2020,Oct-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
3,100354680,2020-10-01,complete,574779.0,oasis_Oasis-061-36,9.0,79.9,639.2,0.0,639.2,Men's Fashion,cod,Net,60124.0,2020,Oct-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
4,100367357,2020-11-13,received,595185.0,MEFNAR59C38B6CA08CD,2.0,99.9,99.9,0.0,99.9,Men's Fashion,cod,Valid,60124.0,2020,Nov-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0

In [23]:
df.groupby(['bi_st', 'status'])['total'].sum()

bi_st  status
Gross  canceled          1.326427e+08
       holded            1.111873e+05
       payment_review    1.727794e+04
       pending           9.760424e+04
       pending_paypal    2.929000e+02
       processing        7.609037e+04
Net    closed            1.057129e+05
       complete          6.262849e+07
Valid  cod               2.967303e+05
       order_refunded    1.484693e+07
       paid              2.171699e+05
       received          2.162302e+07
       refund            9.870190e+05
Name: total, dtype: float64

In [24]:
df['Name Prefix'].unique()

array(['Drs.', 'Prof.', 'Mr.', 'Hon.', 'Ms.', 'Mrs.', 'Dr.'], dtype=object)

In [32]:
df.query('full_name == "Harper, Alvaro"')

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,category,payment_method,bi_st,cust_id,year,month,ref_num,Name Prefix,First Name,Middle Initial,Last Name,Gender,age,full_name,E Mail,Customer Since,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
2643,100354903,2020-10-01,canceled,575198.0,MotifzMWU01951999RUST,3.0,429.0,858.0,0.0,858.0,Women's Fashion,Easypay,Gross,60207.0,2020,Oct-2020,334399,Hon.,Alvaro,J,Harper,M,32.0,"Harper, Alvaro",alvaro.harper@yahoo.com,1/11/2002,641-29-4481,236-874-1705,Dante,Russell,Dante,VA,24237,South,ajharper,0.0
2644,100356428,2020-10-09,canceled,577991.0,AYS_Signature-30Wroomsizerefrigerator,2.0,1099.9,1099.9,0.0,1099.9,Appliances,Easypay,Gross,60207.0,2020,Oct-2020,334399,Hon.,Alvaro,J,Harper,M,32.0,"Harper, Alvaro",alvaro.harper@yahoo.com,1/11/2002,641-29-4481,236-874-1705,Dante,Russell,Dante,VA,24237,South,ajharper,0.0
2645,100357078,2020-10-13,canceled,579181.0,MATHUA59AD3D4D3535A,2.0,1786.6,1786.6,0.0,1786.6,Mobiles & Tablets,Easypay,Gross,60207.0,2020,Oct-2020,334399,Hon.,Alvaro,J,Harper,M,32.0,"Harper, Alvaro",alvaro.harper@yahoo.com,1/11/2002,641-29-4481,236-874-1705,Dante,Russell,Dante,VA,24237,South,ajharper,0.0
2646,100357289,2020-10-15,canceled,579531.0,WOFSIL59AD17E2CA32D,3.0,1475.0,2950.0,0.0,2950.0,Women's Fashion,Payaxis,Gross,60207.0,2020,Oct-2020,334399,Hon.,Alvaro,J,Harper,M,32.0,"Harper, Alvaro",alvaro.harper@yahoo.com,1/11/2002,641-29-4481,236-874-1705,Dante,Russell,Dante,VA,24237,South,ajharper,0.0
2647,100357291,2020-10-15,canceled,579533.0,APPPEL59AD9BE90122C,2.0,2509.9,2509.9,0.0,2509.9,Appliances,Payaxis,Gross,60207.0,2020,Oct-2020,334399,Hon.,Alvaro,J,Harper,M,32.0,"Harper, Alvaro",alvaro.harper@yahoo.com,1/11/2002,641-29-4481,236-874-1705,Dante,Russell,Dante,VA,24237,South,ajharper,0.0
2648,100357288,2020-10-15,canceled,579530.0,MATSAM59AD3DB962977,2.0,6500.0,6500.0,0.0,6500.0,Mobiles & Tablets,Payaxis,Gross,60207.0,2020,Oct-2020,334399,Hon.,Alvaro,J,Harper,M,32.0,"Harper, Alvaro",alvaro.harper@yahoo.com,1/11/2002,641-29-4481,236-874-1705,Dante,Russell,Dante,VA,24237,South,ajharper,0.0
2649,100357292,2020-10-15,canceled,579534.0,WOFSAN59ACD8F360080,3.0,625.0,1250.0,0.0,1250.0,Women's Fashion,Payaxis,Gross,60207.0,2020,Oct-2020,334399,Hon.,Alvaro,J,Harper,M,32.0,"Harper, Alvaro",alvaro.harper@yahoo.com,1/11/2002,641-29-4481,236-874-1705,Dante,Russell,Dante,VA,24237,South,ajharper,0.0
2650,100357290,2020-10-15,canceled,579532.0,WOFMEM59ACFD142C237,2.0,1999.9,1999.9,0.0,1999.9,Women's Fashion,Payaxis,Gross,60207.0,2020,Oct-2020,334399,Hon.,Alvaro,J,Harper,M,32.0,"Harper, Alvaro",alvaro.harper@yahoo.com,1/11/2002,641-29-4481,236-874-1705,Dante,Russell,Dante,VA,24237,South,ajharper,0.0
2651,100357293,2020-10-15,canceled,579535.0,MATSAM59AD3DB962977,2.0,6500.0,6500.0,0.0,6500.0,Mobiles & Tablets,Payaxis,Gross,60207.0,2020,Oct-2020,334399,Hon.,Alvaro,J,Harper,M,32.0,"Harper, Alvaro",alvaro.harper@yahoo.com,1/11/2002,641-29-4481,236-874-1705,Dante,Russell,Dante,VA,24237,South,ajharper,0.0
2652,100357294,2020-10-15,canceled,579536.0,WOFSAN59ACD8F360080,3.0,625.0,1250.0,0.0,1250.0,Women's Fashion,Payaxis,Gross,60207.0,2020,Oct-2020,334399,Hon.,Alvaro,J,Harper,M,32.0,"Harper, Alvaro",alvaro.harper@yahoo.com,1/11/2002,641-29-4481,236-874-1705,Dante,Russell,Dante,VA,24237,South,ajharper,0.0
2653,100357590,2020-10-16,canceled,580058.0,WOFGUL59ACF72C1E5B8,3.0,705.7,1411.4,0.0,1411.4,Women's Fashion,Easypay,Gross,60207.0,2020,Oct-2020,334399,Hon.,Alvaro,J,Harper,M,32.0,"Harper, Alvaro",alvaro.harper@yahoo.com,1/11/2002,641-29-4481,236-874-1705,Dante,Russell,Dante,VA,24237,South,ajharper,0.0
2654,100357591,2020-10-16,canceled,580059.0,WOFMOT59AD316B7A7CD,3.0,1149.0,2298.0,0.0,2298.0,Women's Fashion,Payaxis,Gross,60207.0,2020,Oct-2020,334399,Hon.,Alvaro,J,Harper,M,32.0,"Harper, Alvaro",alvaro.harper@yahoo.com,1/11/2002,641-29-4481,236-874-1705,Dante,Russell,Dante,VA,24237,South,ajharper,0.0
2655,100357593,2020-10-16,canceled,580061.0,WOFMOT59AD316B7A7CD,3.0,1149.0,2298.0,0.0,2298.0,Women's Fashion,Easypay,Gross,60207.0,2020,Oct-2020,334399,Hon.,Alvaro,J,Harper,M,32.0,"Harper, Alvaro",alvaro.harper@yahoo.com,1/11/2002,641-29-4481,236-874-1705,Dante,Russell,Dante,VA,24237,South,ajharper,0.0
2656,100357595,2020-10-16,canceled,580064.0,WOFMOT59AD316B7A7CD,3.0,1149.0,2298.0,0.0,2298.0,Women's Fashion,Easypay,Gross,60207.0,2020,Oct-2020,334399,Hon.,Alvaro,J,Harper,M,32.0,"Harper, Alvaro",alvaro.harper@yahoo.com,1/11/2002,641-29-4481,236-874-1705,Dante,Russell,Dante,VA,24237,South,ajharper,0.0
2657,100357597,2020-10-16,canceled,580066.0,WOFMOT59AD316B7A7CD,3.0,1149.0,2298.0,0.0,2298.0,Women's Fashion,Easypay,Gross,60207.0,2020,Oct-2020,334399,Hon.,Alvaro,J,Harper,M,32.0,"Harper, Alvaro",alvaro.harper@yahoo.com,1/11/2002,641-29-4481,236-874-1705,Dante,Russell,Dante,VA,24237,South,ajharper,0.0

In [35]:
df.groupby(['category'])['total'].sum().reset_index().sort_values(by=['total'], ascending = False)

              category         total
9    Mobiles & Tablets  1.301120e+08
0           Appliances  3.006084e+07
4        Entertainment  2.713843e+07
10              Others  1.556433e+07
3            Computing  9.362343e+06
14     Women's Fashion  6.649842e+06
8        Men's Fashion  4.820147e+06
13          Superstore  2.886907e+06
1    Beauty & Grooming  2.644748e+06
6        Home & Living  1.810582e+06
5      Health & Sports  1.019958e+06
7          Kids & Baby  8.562133e+05
12             Soghaat  5.766999e+05
11  School & Education  1.147401e+05
2                Books  3.241695e+04

In [36]:
df.sample(5)

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,category,payment_method,bi_st,cust_id,year,month,ref_num,Name Prefix,First Name,Middle Initial,Last Name,Gender,age,full_name,E Mail,Customer Since,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
99844,100408454,2020-12-25,canceled,666770.0,WOFVAL5A09A9B69B8A5,2.0,89.9,89.9,8.99,80.91,Women's Fashion,easypay_voucher,Gross,69752.0,2020,Dec-2020,809849,Mrs.,Marine,Q,Baylor,F,23.0,"Baylor, Marine",marine.baylor@yahoo.com,8/5/2006,609-87-6688,212-558-3175,Hempstead,Nassau,Hempstead,NY,11550,Northeast,mqbaylor,10.0000
26142,100455094,2021-03-21,received,748105.0,HALSTR59AE96B74C9E6,2.0,0.0,0.0,0.00,0.00,Home & Living,cod,Valid,55276.0,2021,Mar-2021,661910,Prof.,Cameron,N,Blade,M,38.0,"Blade, Cameron",cameron.blade@aol.com,1/8/2012,471-57-9349,239-948-3575,Miami,Miami-Dade,Miami,FL,33177,South,cnblade,0.0000
52871,100415733,2020-12-27,complete,677941.0,WOFLAL59D9406B5FAAF,3.0,152.0,304.0,60.80,243.20,Women's Fashion,Easypay,Net,63488.0,2020,Dec-2020,545036,Ms.,Ettie,T,Moffat,F,22.0,"Moffat, Ettie",ettie.moffat@aol.com,4/18/1988,209-84-6791,209-805-1743,Redlands,San Bernardino,Redlands,CA,92373,West,etmoffat,20.0000
33297,100391959,2020-12-21,complete,637037.0,MATINF59C9002EA6AF0,2.0,950.0,950.0,0.00,950.00,Mobiles & Tablets,cod,Net,43532.0,2020,Dec-2020,924112,Mr.,Hans,U,Horstman,M,54.0,"Horstman, Hans",hans.horstman@gmail.com,5/14/2017,369-39-1155,228-323-8349,Walls,DeSoto,Walls,MS,38680,South,huhorstman,0.0000
102451,100391804,2020-12-21,complete,636807.0,APPBIN59F9721D5A678,3.0,139.9,279.8,81.98,197.82,Appliances,easypay_voucher,Net,14837.0,2020,Dec-2020,167508,Mrs.,Patrina,V,Mathers,F,62.0,"Mathers, Patrina",patrina.mathers@hotmail.com,3/25/2001,098-02-1207,802-633-1871,Belmont,Rutland,Belmont,VT,5730,Northeast,pvmathers,29.2995

In [41]:
df.order_date.nunique()

365

In [43]:
df.groupby('status')['order_id'].count().reset_index().sort_values(by= 'order_id', ascending=False)

            status  order_id
0         canceled    112166
3         complete     88968
11        received     51775
5   order_refunded     25713
12          refund      3820
2              cod      2851
6             paid       756
1           closed       176
7   payment_review        57
8          pending        48
10      processing        33
4           holded        25
9   pending_paypal         4

In [44]:
df.query('status == "canceled"')['payment_method'].value_counts()

payment_method
Easypay              42063
Payaxis              17327
bankalfalah          16179
easypay_voucher      11267
cod                   8854
Easypay_MA            7683
jazzwallet            4193
jazzvoucher           3215
apg                   1361
customercredit          21
mcblite                  2
financesettlement        1
Name: count, dtype: int64

In [45]:
df.query('status == "complete"')['payment_method'].value_counts()

payment_method
cod                41607
Easypay            17312
easypay_voucher    15772
Payaxis             7964
Easypay_MA          2485
customercredit      1411
jazzvoucher          876
jazzwallet           837
bankalfalah          586
mcblite               86
apg                   27
cashatdoorstep         5
Name: count, dtype: int64

In [50]:
df.query('status == "canceled"').\
    groupby(['category', 'sku'])['order_id'].\
    count().reset_index().\
    sort_values(by='order_id', ascending=False).\
    head(10)

                category                  sku  order_id
13584  Mobiles & Tablets  MATSAM59DB75ADB2F80       882
1193          Appliances  APPNAT5A0A01860CE92       449
13732  Mobiles & Tablets  MATSAM5A7463EE3C1A5       448
13573  Mobiles & Tablets  MATSAM59DB757FB47A2       445
13912  Mobiles & Tablets  MATSAM5B10F7E2AC8C1       398
14557             Others  OTHPCB5A7D8A0DA56C6       396
14660             Others  OTHPCB5ABB207927CA9       391
5006       Entertainment  ENTNOB5A4633C950FAD       385
14650             Others  OTHPCB5ABB2073BDF0C       368
4819       Entertainment  ENTECO5A7FE80D6C830       365

In [51]:
df.query('sku == "MATSAM59DB75ADB2F80"')['status'].value_counts()

status
complete          2863
canceled           882
order_refunded      26
refund               2
received             2
Name: count, dtype: int64

In [52]:
df.head()

,order_id,order_date,status,item_id,sku,qty_ordered,price,value,discount_amount,total,category,payment_method,bi_st,cust_id,year,month,ref_num,Name Prefix,First Name,Middle Initial,Last Name,Gender,age,full_name,E Mail,Customer Since,SSN,Phone No.,Place Name,County,City,State,Zip,Region,User Name,Discount_Percent
0,100354678,2020-10-01,received,574772.0,oasis_Oasis-064-36,21.0,89.9,1798.0,0.0,1798.0,Men's Fashion,cod,Valid,60124.0,2020,Oct-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
1,100354678,2020-10-01,received,574774.0,Fantastic_FT-48,11.0,19.0,190.0,0.0,190.0,Men's Fashion,cod,Valid,60124.0,2020,Oct-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
2,100354680,2020-10-01,complete,574777.0,mdeal_DMC-610-8,9.0,149.9,1199.2,0.0,1199.2,Men's Fashion,cod,Net,60124.0,2020,Oct-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
3,100354680,2020-10-01,complete,574779.0,oasis_Oasis-061-36,9.0,79.9,639.2,0.0,639.2,Men's Fashion,cod,Net,60124.0,2020,Oct-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0
4,100367357,2020-11-13,received,595185.0,MEFNAR59C38B6CA08CD,2.0,99.9,99.9,0.0,99.9,Men's Fashion,cod,Valid,60124.0,2020,Nov-2020,987867,Drs.,Jani,W,Titus,F,43.0,"Titus, Jani",jani.titus@gmail.com,8/22/2006,627-31-5251,405-959-1129,Vinson,Harmon,Vinson,OK,73571,South,jwtitus,0.0

In [54]:
df.groupby('State')['total'].sum().reset_index().sort_values(by= 'total', ascending= False)

   State         total
43    TX  1.546746e+07
4     CA  1.387618e+07
34    NY  1.136510e+07
38    PA  1.015904e+07
14    IL  9.106895e+06
9     FL  8.459037e+06
45    VA  8.193937e+06
35    OH  8.147443e+06
24    MO  8.000870e+06
17    KY  6.994809e+06
25    MS  6.485483e+06
27    NC  6.363723e+06
15    IN  6.307449e+06
12    IA  6.254494e+06
23    MN  5.384620e+06
49    WV  5.284802e+06
22    MI  5.181664e+06
10    GA  5.162799e+06
31    NJ  5.130792e+06
42    TN  4.530630e+06
36    OK  4.244667e+06
19    MA  4.180137e+06
48    WI  4.067436e+06
1     AL  3.802490e+06
5     CO  3.772435e+06
47    WA  3.765998e+06
18    LA  3.729478e+06
2     AR  3.708783e+06
26    MT  3.276356e+06
16    KS  3.260089e+06
20    MD  3.123252e+06
3     AZ  3.116258e+06
21    ME  2.846749e+06
29    NE  2.829867e+06
46    VT  2.751958e+06
37    OR  2.496124e+06
28    ND  2.420395e+06
40    SC  2.303708e+06
32    NM  2.193450e+06
0     AK  1.967323e+06
41    SD  1.959410e+06
44    UT  1.957998e+06
6     CT  1.893172e+06
13    ID  1.678923e+06
33    NV  1.360255e+06
30    NH  1.331460e+06
7     DC  1.311284e+06
50    WY  1.034336e+06
11    HI  6.218324e+05
8     DE  4.815116e+05
39    RI  3.058381e+05

In [57]:
df.query('State == "TX"').\
    groupby(['City'])['total'].\
    sum().reset_index().\
    sort_values(by= 'total', ascending=False)

               City         total
488         Houston  1.069884e+06
37           Austin  6.909021e+05
951     San Antonio  6.632424e+05
324         El Paso  6.305386e+05
1015      Sour Lake  6.299461e+05
...             ...           ...
375   Fort Stockton  0.000000e+00
591       Ledbetter  0.000000e+00
74             Bend  0.000000e+00
343       Estelline  0.000000e+00
1108       Vancourt  0.000000e+00

[1188 rows x 2 columns]

In [60]:
df.query('City == "Houston"').\
    groupby(['category'])['total'].\
    sum().reset_index().\
    sort_values(by= 'total', ascending=False)

              category         total
9    Mobiles & Tablets  658748.15196
0           Appliances  129854.74418
4        Entertainment  121492.74100
10              Others   57650.00000
8        Men's Fashion   36381.09000
3            Computing   32276.57000
14     Women's Fashion   27099.91276
1    Beauty & Grooming    6653.81310
13          Superstore    5880.32934
5      Health & Sports    4758.80500
6        Home & Living    3126.44800
7          Kids & Baby    2903.17426
11  School & Education     643.40000
12             Soghaat     430.52800
2                Books       0.00000

In [66]:
df.groupby('category')['Discount_Percent'].mean().\
    reset_index().\
    sort_values(by= 'Discount_Percent', ascending=False)

              category  Discount_Percent
4        Entertainment          9.735056
13          Superstore          9.401311
0           Appliances          9.360799
3            Computing          8.783462
9    Mobiles & Tablets          8.101317
1    Beauty & Grooming          5.503726
14     Women's Fashion          5.052338
6        Home & Living          4.504001
12             Soghaat          4.488234
8        Men's Fashion          3.666560
7          Kids & Baby          3.496430
5      Health & Sports          3.251623
11  School & Education          2.459368
2                Books          0.911449
10              Others          0.274586